torch==1.10.2+cu117
torchvision==0.11.3+cu117
torchaudio==0.10.2
langchain
einops
accelerate
transformers
bitsandbytes
scipy
xformers
sentencepiece
llama-index
llama_hub
sentence-transformers
pypdf2
llama-index-llms-huggingface
llama-index-embeddings-langchain
